.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    gap: 2rem;
}
body{
    background-color: white;
    color: black;
}

input{
    background-color: white;
    color: black;
}

select{
    background-color: white;
    color: black;
}
